<?xml version="1.0" ?>
<robot name="carrot">

<material name="silver">
  <color rgba="0.93 0.57 0.13 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="1.7822858549785182e-07 -6.088186197117381e-07 0.009575191066925283" rpy="0 0 0"/>
    <mass value="1.9993944571265512"/>
    <inertia ixx="0.002430463493580151" iyy="0.002430544383608829" izz="0.00012003066934899377" ixy="-1.0002093809136705e-09" iyz="4.422827505962783e-08" ixz="-8.059333004212918e-09"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
    <material/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <contact>
    <soft_cfm value="0.0"/>
      <soft_erp value="0.2"/>
  </contact>
  </collision>
</link>

</robot>
