<?xml version="1.0" ?>
<robot name="sunscreen">

<material name="silver">
  <color rgba="1 1 1 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.0725" rpy="0 0 0"/>
    <mass value="2.2764999999999995"/>
    <inertia ixx="0.0042921510416666624" iyy="0.004462888541666666" izz="0.0007778041666666664" ixy="0.0" iyz="-7.139533408917486e-19" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/sunscreen.obj" scale="0.01 0.01 0.01"/>
    </geometry>
    <material name="silver"/>
    <material/>
  </visual>
  <collision >
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <contact>
    <soft_cfm value="0.0"/>
      <soft_erp value="0.2"/>
  </contact>
  </collision>
</link>

</robot>
